SECRET_TOKEN=your_secret_token
DATABASE_URL=your_secret_token
NEXT_PUBLIC_IMAGEKIT_KEY=your_secret_token
IMAGEKIT_SECRET=your_secret_token
NEXT_PUBLIC_IMGKIT_URL=https://ik.imagekit.io/your_secret_token